/* ROOT VARIABLES */
* {
  filter: blur(0) !important;
  backdrop-filter: blur(0) !important;
  border-radius: 0px !important;
  outline-color: #333333;
}

:root {
  --toolbar-bgcolor: #000000 !important;
  --toolbar-field-focus-border-color: #d8a657 !important;
  --accent-color: #d8a657 !important;
  --urlbarview-background-color-selected: #d8a657 !important;
  --urlbarview-text-color-selected: #000000 !important;
  --focus-outline-color: #d8a657 !important;
  --urlbar-results-hover-bgcolor: #d4a359 !important;
  --urlbar-results-hover-bgcolor-hover: #d4a359 !important;
}

@media (-moz-windows-accent-color) {
  :root {
    --accent-color: -moz-win-accentcolor !important;
  }
}

/* NAVBAR */
#nav-bar {
  background-color: #000000 !important;
  color: #ffffff !important;
}

/* TAB BAR */
#tabbrowser-tabs:not([vertical]) .tabbrowser-tab {
  min-width: 50px !important;
  max-width: 180px !important;
  margin-left: 2px !important;
}

#tabbrowser-tabs:not([vertical]) .tab-stack {
  margin-inline: 0px !important;
}

.tabbrowser-tab .tab-background {
  background-color: #282828 !important;
  outline: 3px solid #686868 !important;
}

.tabbrowser-tab[selected] .tab-background {
  background-color: #282828 !important;
  outline: 3px solid #d8a657 !important;
}

/* SIDEBAR (BOOKMARKS / HISTORY) */
.wrapper,
#sidebar-box,
#sidebar,
#sidebar-main {
  background-color: #181818 !important;
}

.moz-card,
.splitter,
.splitter-launcher-splitter,
.sidebar-splitter {
  background-color: #222222 !important;
}

/* TREE CONTAINER */
.sidebar-placesTree {
  background-color: transparent !important;
}

/* HOVERED ITEM */
.sidebar-placesTree treechildren::-moz-tree-row(hover) {
  background-color: #282828 !important;
}

/* SELECTED ITEM */
.sidebar-placesTree treechildren::-moz-tree-row(selected) {
  background-color: #282828 !important;
}

/* TEXT SELECTION INSIDE URL BAR */
#urlbar-input:focus::selection {
  background-color: #d8a657 !important;
  color: #222222 !important;
}

/* URL BAR */
.urlbarView-background,
.urlbar-background {
  background-color: #222222 !important;
}

/* APP MENU */
#appMenu-popup panelview {
  background-color: #222222 !important;
}
